h1{
    background:#2980b9;
    color:white;
    margin:0;
    padding:  10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
#container{
    width: 22.5em;
    margin: 6.25em auto;
    background:#f7f7f7;
    box-shadow:0 0 3px rgba(0,0,0,0.1);

}
.completed{
    color: gray;
    text-decoration: line-through;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #007991;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
li{
    background:#fff;
    height:40px;
    line-height: 40px;
    color:#666;
}

 li span{
    background: #e74c3c;
    height:40px;
    margin-right:20px;
    text-align: center;
    color:white;
    width:0;
    opacity:0;
    display:inline-block;
}
li:hover span{
    transition: width 300ms,opacity 300ms;
    opacity: 100%;
    width:40px;
}
li:nth-child(2n){
    background:#f7f7f7;
}
.fa-plus{float:right}
input{
    font-size: 18px;
    background-color: #f7f7f7;
    width:100%;
    padding:13px 13px 13px 20px;
    box-sizing:border-box;
    color:#2980b9;
    border:3px solid rgba(0,0,0,0);
}
input:focus{
    background:#fff;
    border: 3px solid #2980b9;
    outline:none;
}
 .toggle-form {
    opacity: 100%;
    width:40px;
    height: 40px;
}
